//
//RENAME THIS TO config.js OTHERWISE YOU WILL HAVE ISSUES
//
const config = {

    //Common links used throughout the app. 
    links: {
        discord: "/",
        forums: "/",
        wiki: "/",
        github: "/",
        donate: "/",
    },

    //Space Station 14 server(s) to check. Must be an array containing the address to the server's status page as well as the desired name and region.

    ss14: [
        {
            address: 'http://ip:port/status',
            name: 'Main Server',
            region: 'EU West 1',
        },
        {
            address: 'http://ip:port/status',
            name: 'Secondary Server',
            region: 'US East 1',
        }
    ],

    //Takes in the direct url to a changelog.yml. (Ex: https://raw.githubusercontent.com/author/repo/branch/location-of-changelog/changelog.yml)
    changelog: {
        repo: "https://raw.githubusercontent.com/author/repo/branch/location-of-changelog/changelog.yml"
    }

    //An array of objects containing a category(nsfd,default,etc) with items being an array of ships contained as objects(name,imgpath)
    shipyard: [
        {
            category: "Civilian Ships",
            items: [
                {
                    name: "Urist McShippingTon",
                    imgPath: "/shipyard/McShippingTon/McShippingTon-0.webp" //Map Renderer is your friend when it works!
                },
            ]
        },
    ]
};


export default config;
