//
//RENAME THIS TO config.js OTHERWISE YOU WILL HAVE ISSUES
//
const config = {

    //Common links used throughout the app. 
    links: {
        discord: "/",
        forums: "/",
        wiki: "/",
        github: "/",
        donate: "/",
    },

    //Takes in the direct url to a changelog.yml. (Ex: https://raw.githubusercontent.com/author/repo/branch/location-of-changelog/changelog.yml)
    changelog: {
        frontier: "https://raw.githubusercontent.com/new-frontiers-14/frontier-station-14/master/Resources/Changelog/Frontier.yml",
        upstream: "https://raw.githubusercontent.com/new-frontiers-14/frontier-station-14/master/Resources/Changelog/Changelog.yml"
        },

    //Space Station 14 server(s) to check. Must be an array containing the address to the server's status page as well as the desired name and region.
    ss14: [
        {
            address: 'http://ip:port/status',
            name: 'Main Server',
            region: 'EU West 1',
        },
        {
            address: 'http://ip:port/status',
            name: 'Secondary Server',
            region: 'US East 1',
        }
    ],
};


export default config;
